.titulopagina {
    background-color:#ffffcc;
    text-align:center;
    font-family:verdana;
    font-size:40px;
    border-top-width:1px;
    border-right-width:3px;
    border-bottom-width:3px;
    border-left-width:1px;
    border-top-style:dotted;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:dotted;
    border-top-color:#1d7251;
    border-right-color:#32d483;
    border-bottom-color:#ff0000;
    border-left-color:#7fcf77;
    }